body {
    padding: 60px;
}

.alert {
    position: fixed !important;
    top: 10px;
}

.log-out {
    position: fixed;
    right: 20px;
    top: 20px;
}

form {
    margin-top: 60px;
}

button {
    margin-top: 20px !important;
}

.text-muted {
    margin-top: 10px;
    margin-left: -20px;
}
