{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  {% if error %}
  <div class="alert alert-danger col-sm-10" role="alert">Error: {{ error }}</div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success col-sm-10" role="alert">Success: {{ success }}</div>
  {% endif %}

  <form action="{{ url_for('configurations') }}" method=post class="form-horizontal">

    <div class="form-group">
      <label for="hostname" class="col-sm-2 control-label">Server Hostname</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" name="server_hostname" id="hostname" placeholder="Server Hostname"
               value="{{result.server_hostname}}">
      </div>
    </div>
    <div class="form-group">
      <label for="ip" class="col-sm-2 control-label">Server IP</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" name="server_ip" id="ip" placeholder="Server IP"
               value="{{result.server_ip}}">
      </div>
    </div>
    <div class="form-group">
      <label for="som1" class="col-sm-2 control-label">SoM 1 IP</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" name="som1_ip" id="som1" placeholder="SoM 1 IP"
               value="{{result.som1_ip}}">
      </div>
    </div>
    <div class="form-group">
      <label for="som2" class="col-sm-2 control-label">SoM 2 IP</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" name="som2_ip" id="som2" placeholder="SoM 2 IP"
               value="{{result.som2_ip}}">
      </div>
    </div>
    <div class="form-group">
      <label for="internal" class="col-sm-2 control-label">Internal Interface</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" name="internal_if" id="internal"
               placeholder="Interface connects to sensor" value="{{result.internal_if}}">
      </div>
      <div class="col-sm-8">
          <p class="text-muted">Interface connects to sensor</p>
      </div>
    </div>
    <div class="form-group">
      <label for="external" class="col-sm-2 control-label">External Interface</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" name="external_if" id="external"
               placeholder="Interface connects to engine" value="{{result.external_if}}">
      </div>
      <div class="col-sm-8">
        <p class="text-muted">Interface connects to engine</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Update</button>
      </div>
    </div>

  </form>
  {% endif %}
{% endblock %}