<!doctype html>
<title>Engine Configuration</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
<body>
  <div class="row">
    <h1 class="title">Engine Configuration</h1>
  </div>
  <div class="log-out">
  {% if session.logged_in %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>

  <div class="row">
  {% for message in get_flashed_messages() %}
    <div class="alert alert-warning col-sm-10" role="alert">{{ message }}</div>
  {% endfor %}
  </div>

  {% block body %}{% endblock %}
</body>
