{% extends "layout.html" %}
{% block body %}
  {% if error %}
  <div class="alert alert-danger col-sm-10" role="alert">Error: {{ error }}</div>
  {% endif %}

  <form action="{{ url_for('login') }}" method=post class="form-horizontal">

    <div class="form-group">
      <label for="username" class="col-sm-2 control-label">Username</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" name="username" id="username" placeholder="Username">
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-2">
        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Sign in</button>
      </div>
    </div>

  </form>
{% endblock %}